@model RoboTrue.Core.Entities.CariFaliyetSektoru

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CariFaliyetSektoru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FaliyetSektoru" class="control-label"></label>
                <input asp-for="FaliyetSektoru" class="form-control" />
                <span asp-validation-for="FaliyetSektoru" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OlusturanKullaniciId" class="control-label"></label>
                <input asp-for="OlusturanKullaniciId" class="form-control" />
                <span asp-validation-for="OlusturanKullaniciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Geri Dön</a>
</div>

